* {
  font-family: "Roboto", "sans-serif";
  box-sizing: border-box; /* importante */
}

body {
  background-color: rgb(223, 223, 223);
}

.conteudo {
  padding: 1rem; /* rem: unidade relativa à fonte de texto tamanho médio */
  background-color: white;
  height: 100vh; /* para ocupar a altura inteira (100% não funciona) */
}

@media screen and (min-width: 992px) {
  .conteudo {
    max-width: 992px;
    height: auto;
    margin: 1rem auto; /* espaçamento dividido igualmente entre esquerda e direita */
    border-radius: 1rem;
  }
}
